---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, subText } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 900px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
		font-family: 'Poppins', sans-serif;
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
      .blog {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5rem 19rem 5rem 18rem;
      }

      .blog article {
        width: 100%;
        min-height: 18rem;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
      }
      .blogHeadline {
        overflow: visible;
        color: var(--dark);
        font-size: 52px;
        font-weight: 600;
		font-family: 'Poppins', sans-serif;
		text-align: left;
      }
      .blogHeadline a {
        overflow: visible;
        color: var(--dark);
        font-size: 52px;
        font-weight: 600;
        text-decoration: none;
      }

      .blogHeadline a:hover {
        color: #000;
      }

      .author {
        height: 4rem;
        margin: 2rem 0rem 2rem 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      .author span {
        display: flex;
        align-items: center;
        object-fit: contain;
        font-weight: 400;
        font-size: 21px;
      }

      .author span img {
        margin-right: 2rem;
        height: 3rem;
        width: 3rem;
        border-radius: 100%;
      }

      .blogSubhead {
        width: 100%;
        margin: 0rem 0 2rem 0;
        font-style: italic;
        font-size: 26px;
        line-height: 30px;
      }

      .readMore a {
        font-weight: 400;
        color: #333;
        font-size: 18px;
        text-decoration: underline;
      }

      .readMore a:hover {
        color: var(--dark);
        font-size: 18px;
        text-decoration: underline;
      }

      @media (max-width: 900px) {
        .blog {
          padding: 3rem 2rem 0 1rem;
        }

        .author span img {
          margin-right: 1rem;
        }

        .blog article {
          height: auto;
        }
      }

	  .blogSubhead {
    width: 100%;
    margin: .5rem 0 1rem 0;
    font-size: 26px;
    line-height: 30px;
    overflow: visible;
    font-style: italic;
	font-family: 'Poppins', sans-serif;
}

.blogSubhead a {
    color: rgb(116, 116, 116);
    line-height: 30px;
    font-size: inherit;
    text-decoration: none;
}

.blogSubhead a:hover {
    color: #000;
}
.description-line{
	display: flex;
    align-items: center;
    object-fit: contain;
    font-size: 21px;
}
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="prose">
          <div class="title">
            <div class="date">
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <header class="blogHeadline">{title}</header>
			<p class="description-line">{description} -	‎ <FormattedDate date={pubDate} /></p>
			<p class="blogSubhead">{subText}</p>
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
